{% extends 'base.html' %}
{% load static %}
{% block title %}
Register
{% endblock %}

{% block content %}
    <form class="form-signin">
        {% csrf_token %}
          <div class="text-center mb-4">
            <img class="mb-4" src="{% static 'favicon-72x72.svg' %}" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Tube</h1>
            <hr>
            <h4>Register</h4>
          </div>
        
          <div class="form-label-group">
            <input type="text" id="id_username" name="username" class="form-control" placeholder="Username" required="" autocapitalize="none" autocomplete="username" maxlength="150" autofocus="">
            <label for="id_username">Username</label>
            <br>
            <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
          </div>
        
          <div class="form-label-group">
            <input type="password" id="id_password1" name="password1" class="form-control" autocomplete="new-password" placeholder="Password" required="">
            <label for="id_password1">Password</label>
            <br>
            <span class="helptext">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </span>
          </div>

          <div class="form-label-group">
            <input type="password" id="id_password2" name="password2" class="form-control" autocomplete="new-password" placeholder="Password" required="">
            <label for="id_password2">Password</label>
            <br>
            <span class="helptext">Enter the same password as before, for verification.</span>
          </div>
        
          <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
    </form>
{% endblock %}