{% extends 'base.html' %}
{% load static %}
{% block title %}
    Edit {{ hall.title }}
{% endblock %}

{% block content %}
<form class="form-signin" action="" method="post">
    {% csrf_token %}
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'favicon-72x72.svg' %}" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Tube</h1>
        <hr>
        <h4 class="h3 mb3 font-weight-normal">Edit</h4>
    </div>
    
    <div class="form-label-group">
        <input type="text" name="title" value="{{ hall.title }}" maxlength="255" required="" class="form-control" id="id_title">
        <label for="id_title">Title</label>
    </div>
    <button class="btn btn-md btn-block btn-success" type="submit">Save</button>
</form>
{% endblock %}